.item {
    border: 2px solid cornflowerblue;
    border-radius: 25px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.todoTitle {
    font-size: xx-large;
}

.todoDesc {
    font-size: medium;
}