.item {
    border: 2px solid cornflowerblue;
    border-radius: 25px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.itemDone {
    border: 2px solid mediumseagreen;
    border-radius: 25px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.todoTitle {
    font-size: xx-large;
}

.todoDesc {
    font-size: medium;
}

.doneButton {
    border: 2px solid mediumseagreen;
    border-radius: 20px;
}

.animation {
    animation: appear 1s ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}