.item {
    border: 2px solid cornflowerblue;
    border-radius: 25px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.itemDone {
    border: 2px solid mediumseagreen;
    border-radius: 25px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.todoTitle {
    font-size: xx-large;
}

.todoDesc {
    font-size: medium;
}

.doneButton {
    border: 2px solid mediumseagreen;
    border-radius: 20px;
}

.animation_appearUp {
    animation: appearUp 0.4s ease-in-out;
}

.animation_disappearDown {
    animation: disappearDown 0.4s ease-in-out;
}

.fadeInElement {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes appearUp {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }
    50% {
        opacity: 0.35;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes disappearDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.35;
    }
    100% {
        opacity: 0;
        transform: translateY(35px);
    }
}